module flap

go 1.26.0

require (
	github.com/aperturerobotics/protobuf-go-lite v0.12.2
	github.com/nosuta/godash/v2 v2.2.7
	google.golang.org/protobuf v1.36.11
)

tool (
	github.com/aperturerobotics/protobuf-go-lite/cmd/protoc-gen-go-lite
	github.com/google/go-licenses
	google.golang.org/protobuf/cmd/protoc-gen-go
)
